*{

}
.cCardsproducto{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.cardproducto{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid;
    margin: 1%;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
}
.imageproducto img{
    height: 50%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.textoproducto{
    text-align: center;
}